* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #020202;
    --secondprimary-color: #fff;
    --bg-color: #C4C4C4;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;

}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 141rem;
    margin: 0 auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* *******header****** */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* transition: all 0.5s; */
    z-index: 999;
}

header .row {
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

header .row nav {
    margin-left: auto;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a {
    color: var(--secondprimary-color);
    font-weight: 500;
    font-size: 1.8rem;
}

header .row>a i {
    color: var(--secondprimary-color);
    font-size: 1.8rem;
    margin: 1rem 2rem;
}

.dark-header {
    background-color: var(--primary-color);
}

header .row nav ul li a {
    display: inline-block;
    padding: 1rem 2rem;

}

header .row nav ul li:hover a {
    background-color: rgba(237, 242, 243, 0.1);
    color: white;
}

header .row nav ul li ul {
    position: absolute;
    top: 4.6rem;
    left: 0;
    width: 11.5rem;
    background-color: rgba(151, 243, 250, 0.1);
    display: none;
}

header nav ul li ul li {
    display: inline-block;
}

header nav ul li ul li,
header nav ul li ul li a {
    display: inline-block;
    width: 100%;
}

header .row nav ul li:hover ul {
    display: inline-block;
}

header .row nav ul li ul li a:hover {
    background-color: rgba(151, 243, 250, 0.3);
}

header .row nav ul li:hover a i {
    transform: rotate(90deg);
}

/* ****************** */



/* ******** Hero ********* */

#hero {
    background-image: url(../image/poster.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#hero .hero-data {
    position: absolute;
    /* top: 25.4rem; */
}

.hero-data {
    padding-top: 20rem;
}

.hero-data h1 {
    font-size: 9rem;
    line-height: 11rem;
    color: var(--secondprimary-color);

}

.hero-data p {
    margin: 3.7rem 0 1.1rem 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
}

.hero-data span {
    color: var(--secondprimary-color);
}

.hero-data .serch-from {
    width: 73.6rem;
    height: 7.8rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0 1.6rem;
    border-radius: 7.2rem;
    align-items: center;
}

.hero-data .serch-from select {
    border: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #9B9B9B;
}

.serch-from .explore {
    background-color: black;
    padding: 1rem 2rem !important;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3.5rem;
    color: #FFFFFF;
    border: none;
}

#menu>i,
nav>i {
    display: none !important;
    /* font-size: 2rem;
    color: white; */
}

/* ****************** */


/*********Explore********/

#Explore {
    margin: 17.8rem 0 12rem 0;
}

.main-title h2 {
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    color: #020202;
    padding-bottom: 3rem;
}

.main-title p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;
    color: #878787;
}

.Explore-slider .swiper-slide {
    transition: all 1s;
}

.Explore-slider .swiper-slide:hover {
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0 0 0 /0.25);
    transform: translateY(-1rem);
}

.Explore-slider .swiper-slide .Explore-img img {
    height: 36.6rem;
    border-radius: 1rem;

}

.Explore-slider .swiper-slide:hover .Explore-img img {
    border-radius: 1rem 1rem 0 0;
    height: 31.6rem;
}

.Explore-slider .swiper-wrapper {
    padding: 2rem 0;

}

.Explore-slider .Explore-data {
    padding: 3.4rem 1.9rem 2.7rem 1.4rem;
    position: relative;
    opacity: 0;
}

.Explore-slider .swiper-slide:hover .Explore-data {
    opacity: 1;
}

.Explore-slider .Explore-data h3 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
}

.Explore-slider .Explore-data p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555;
    margin-top: 0.7rem;
}

.Explore-slider .Explore-data .circle {
    width: 6.9rem;
    height: 6.9rem;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    right: 1rem;
    /* margin: 0 3rem 0 0; */
    text-align: center;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0 0 0 /0.25);
}

.Explore-slider .Explore-data .circle span {
    font-size: 7rem;
    padding: 0.4rem;
}

.icon {
    position: relative;
}

.icon .prev,
.next {
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1.2rem 0.1rem rgb(0 0 0 /15%);
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 4rem;

}

.icon .next {
    position: absolute;
    top: 1rem;
    right: 0;
}

/***************/

/********Why-select********/


#Why-select {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../image/why-select.jpg);
    background-size: 100% 50rem;
    background-repeat: no-repeat;

}

#Why-select .main-title {
    padding: 4rem;
}

#Why-select .main-title h2 {
    color: var(--secondprimary-color);
}

.why-Swiper .why-data {
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1.2rem 0.1rem rgb(0 0 0 / 15%);
    padding: 4.4rem 2.2rem 7rem 1.9rem;
    border-radius: 1rem;
    margin: 1rem;
}

.why-Swiper .swiper-slide img {
    width: 9.5rem;
}

.why-Swiper .swiper-slide h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
    margin: 3.3rem 0 1rem 0;
}

.why-Swiper .swiper-slide p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #858585;
}

.why-Swiper .swiper-slide a {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #000000;
    display: inline-block;
    margin-top: 3.8rem;
}

#Why-select .why-boton {
    font-size: 2rem;
}

.why-icon {
    position: relative;
}

.why-icon .why-prev,
.why-next {
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1.2rem 0.1rem rgb(0 0 0 /15%);
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 4rem;
    position: absolute;
    top: -6rem;
}

.why-icon .why-prev {
    left: -8rem;
}

.why-icon .why-next {
    right: -8rem;
}

.why-iconslider {
    position: relative;
    margin: 0 8rem;
}

/***************/

/********partner******/

#partner {
    padding: 17.8rem 0 0 0;
}

.pimg {
    display: flex;
    justify-content: space-evenly;
    padding: 6.8rem 0 3rem 0;
}

/***************/

/**********client***********/
#client {
    margin: 17.8rem 0 12rem 0rem;
}

.client-container {
    margin-left: calc((100% - 1370px) / 2);
}

.client-say h3 {
    font-weight: 500;
    font-size: 3rem;
    color: #626262;
}

.client-say h2 {
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    color: #020202;
}

.client-say p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 4rem;
    color: #626262;
}

.client-profile {
    position: relative;
}

.client-profile .client-icone .cli-prev,
.cli-next {
    position: absolute;
    top: 0;
    font-size: 2.2rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 1.2rem 0.1rem rgb(8 0 50 /15%);
    padding: 1rem 2rem;
    border-radius: 1rem;
    z-index: 9;
}

.client-profile .client-icone .cli-prev {
    right: 6.9rem;
    margin-right: 10rem;
}

.client-profile .client-icone .cli-next {
    right: 6.9rem;
}

.clinet-slider .swiper-wrapper {
    padding: 0 0 1rem 7rem;
}

.clinet-slider .swiper-slide {
    margin-top: 19rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1.2rem 0.1rem rgb(0 0 0 /15%);

}

.client-profile .clinet-bio {
    position: relative;
}

.client-profile .swiper-slide .clinet-img img {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.clinet-slider .star-icone h4 {
    margin: 4rem 0 0rem 0;
}

.clinet-slider .swiper-slide h4 {
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
    color: #000000;
}

.clinet-slider .swiper-slide h5 {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #858585;
    margin-bottom: 5rem;
}

.clinet-slider .swiper-slide .star-icone {
    padding: 5.1rem 3.5rem;
}

.clinet-slider .swiper-slide .star-icone a {
    font-size: 1.2rem;
    color: #F4BC61;
}

.clinet-slider .swiper-slide .star-icone p {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #858585;
}

/***************/

/***************Subcribe***********/


#Subc {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../image/sub2.jpg);
    background-size: 100% 56rem;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3.1rem 0 15rem 0;
}

#Subc .main-title {
    padding-top: 6.6rem;
}

#Subc .main-title h2 {
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    color: #FFFFFF;


}

#Subc .main-title p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.4rem;
    text-align: center;
    color: #DFDFDF;
    padding-bottom: 5rem;
}

#Subc form .email {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.4rem;
    color: #9B9B9B;
    margin: 1.9rem 31rem 1.7rem 1.5rem;
    font-family: 'Poppins';
    border: none;
}

#Subc form .Subscribe {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.7rem;
    text-align: center;
    color: #DFDFDF;
    background: #000000;
    border-radius: 3rem;
    padding: 1rem 2rem;
    border: none;
}

#Subc .subbot {
    width: 67.6rem;
    height: 6.9rem;
    border-radius: 3.5rem;
    background-color: var(--secondprimary-color);
    /* margin: 8.8rem 41rem 15.7rem 36rem; */
    margin: 0 auto;

}

/***************/

/******footer*****/
.footer-data {
    display: flex;
    padding: 8.8rem 7rem 7rem 1.2rem;
    justify-content: space-between;
}

.footer-data .box {
    /* padding: 0 0 0rem 7rem; */
}

.footer-data .box img {
    width: 90%;
}

.footer-data .box p {
    padding-top: 2.5rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.3rem;
    color: #6C6C6C;
}

.footer-data ul {
    display: inline-block;
    list-style-type: none;
}

.footer-data h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 7rem;
    display: flex;
    align-items: center;
    color: #000000;
}

.footer-data .Contact ul a {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 4.5rem;
    color: #6C6C6C;
}

.footer-data .Contact ul li i {
    font-size: 1.7rem;
    margin-right: 0.6rem;
}

.footer-data .Quick ul li a {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 4rem;
    color: #6C6C6C;
}

.footer-data .Follow ul li {
    display: inline-block;
    justify-content: space-between;
    font-size: 2rem;
}

.footer-data .Follow ul li i {
    margin-right: 2.7rem;
    color: #6C6C6C;
}

.footer-data ul li a:hover {
    color: #000000;
}

.footer-data ul li a i:hover {
    color: #000000;
}

.black {
    background-color: #000000;
    padding: 5rem 0 5rem 0;
    text-align: center;
}

.black a {
    font-weight: 500;
    font-size: 1.8rem;
    /* line-height: 3.4rem; */
    color: #DFDFDF;
}

/***************/

/* @media screen and (max-width:120rem) {
    header nav ul li a {
        margin: 0 2rem;
    }

    header .logo {
        width: 18rem;
    }

    header .row>a i {
        font-size: 1.5rem;
        margin-left: 0 1.5rem;
    }
} */


/* 1650/1440 */

@media screen and (max-width:1650px) {
    .container {
        max-width: 95%;
    }

    #hero .hero-data {
        position: absolute;
        /* top: 23.4rem; */
    }

    .hero-data h1 {
        font-size: 7.5rem;
        line-height: 9.5rem;
    }

    .hero-data p {
        margin: 2.4rem 0 1.1rem 0;
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .client-profile .swiper-slide .clinet-img img {
        width: 13rem;
        height: 13rem;

    }

}

/* 1440/1365/ */

@media screen and (max-width:1440px) {
    .container {
        max-width: 95%;
    }

    .hero-data {
        /* top: 23.4rem; */
    }

    .hero-data h1 {
        font-size: 8rem;
        line-height: 9rem;
    }

    .hero-data p {
        margin: 2.4rem 0 1.1rem 0;
        font-size: 1.6rem;
        line-height: 3rem;
    }
}

/* 1365/1200 */

@media screen and (max-width:1365px) {
    .container {
        max-width: 95%;
    }

    header nav ul li a {
        font-size: 1.6rem;
    }

    #hero .hero-data {
        position: absolute;
        /* top: 23.4rem; */
    }

    .hero-data h1 {
        font-size: 7rem;
        line-height: 9rem;
    }

    .hero-data p {
        margin: 2.4rem 0 1.1rem 0;
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .hero-data .serch-from {
        width: 66.6rem;
        height: 6.8rem;
        padding: 0 0.8rem 0 1.6rem;
    }

    .hero-data .serch-from select {
        border: none;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 2.6rem;
        color: #9B9B9B;
    }

    .serch-from .explore {
        padding: 0.8rem 1.5rem !important;
        font-size: 1.4rem;
    }

    #Explore {
        margin: 12.8rem 0 8rem 0;
    }

    .main-title h2 {
        font-size: 5.5rem;
        line-height: 7rem;
        padding-bottom: 2rem;
    }

    .main-title p {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    .icon .prev,
    .next {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .icon .next {
        top: 0rem;
    }

    .Explore-slider .Explore-data h3 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .Explore-slider .Explore-data {
        padding: 3rem 1.9rem 2.5rem 1.4rem;
    }

    .Explore-slider .Explore-data p {
        font-size: 1.3rem;
        line-height: 2.1rem;
        margin-top: 0.5rem;
    }

    .Explore-slider .Explore-data .circle {
        width: 5.9rem;
        height: 5.9rem;
        top: -3rem;
    }

    .Explore-slider .Explore-data .circle span {
        font-size: 6rem;
    }

    .why-icon .why-prev,
    .why-next {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 1.8rem;
    }

    .why-Swiper .swiper-slide img {
        width: 8.5rem;
    }

    .why-Swiper .swiper-slide h4 {
        font-size: 2rem;
        line-height: 3rem;
        margin: 3.5rem 0 2rem 0;
    }

    .why-Swiper .swiper-slide p {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .why-Swiper .swiper-slide a {
        margin: 2rem 0 3rem 0;
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .why-Swiper .swiper-slide {
        padding: 3.4rem 2.2rem 4rem 1.9rem;
    }

    #Why-select {

        background-size: 100% 40rem;
        background-repeat: no-repeat;
    }

    #partner {
        padding: 12.8rem 0 0 0;
    }

    #partner .main-title p {
        font-size: 1.6rem;
        line-height: 2.7rem;
    }

    #partner .pimg img {
        width: 90%;
    }

    #partner .pimg {
        padding: 4.8rem 4rem 3rem 4rem;
    }

    #client {
        margin: 12.8rem 0 8rem 0rem;
    }

    .client-container {
        margin-left: calc((100% - 95%) / 2);
    }

    .client-say h3 {
        font-size: 2.5rem;
    }

    .client-say h2 {
        font-size: 5.5rem;
        line-height: 6.5rem;
    }

    .client-say p {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .client-profile .client-icone .cli-prev,
    .cli-next {
        font-size: 1.8rem;
        padding: 1rem 1.7rem;
        width: 4.5rem;
        height: 4.5rem;
    }

    .clinet-slider .swiper-slide {
        margin-top: 14rem;
    }

    .clinet-slider .swiper-slide h4 {
        font-size: 2rem;
        margin: 2rem 0 0rem 0;
    }

    .clinet-slider .swiper-slide h5 {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .clinet-slider .swiper-slide .star-icone p {
        margin-top: 1rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    #Subc .main-title h2 {
        font-size: 5.5rem;
        line-height: 6rem;
    }

    #Subc .main-title p {
        font-size: 1.6rem;
        line-height: 3rem;
        padding-bottom: 3rem;
    }

    #Subc form .email {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 1.5rem 28.5rem 1.5rem 1.5rem;
    }

    #Subc form .Subscribe {
        font-size: 1.6rem;
        line-height: 2.5rem;
        border-radius: 3rem;
        padding: 1rem 1.7rem;
    }

    #Subc .subbot {
        width: 61.6rem;
        height: 5.6rem;

    }

    #Subc {
        padding: 3.1rem 0 13rem 0;
    }

    .footer-data .box img {
        width: 80%;
    }

    .footer-data .box p {
        padding-top: 1.5rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .footer-data h4 {
        font-size: 2rem;
        line-height: 5rem;
    }

    .footer-data .Contact ul a {
        font-size: 1.6rem;
        line-height: 3.5rem;
    }

    .footer-data .Quick ul li a {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .footer-data .Follow ul li {
        font-size: 1.8rem;
    }

    .footer-data .Follow ul li i {
        margin-right: 2rem;
    }

    .black {
        background-color: #000000;
        padding: 3.5rem 0 3.5rem 0;
        text-align: center;
    }
}

/* 1200*****992 */

@media screen and (max-width:1199px) {
    .container {
        max-width: 95%;
    }

    header .row nav ul li a {
        padding: 1rem;
    }

    header .row nav ul li a {
        padding: 1rem;
    }

    header nav ul li a {
        font-size: 1.5rem;
    }

    .hero-data h1 {
        font-size: 6rem;
        line-height: 8rem;
    }

    .hero-data p {
        margin: 2rem 0 1.1rem 0;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .hero-data .serch-from {
        width: 57.6rem;
        height: 5.6rem;
        padding: 0 0.8rem 0 1.6rem;
    }

    .hero-data .serch-from select {
        font-size: 1.5rem;
    }

    .serch-from .explore {
        padding: 0.5rem 1.5rem !important;
        font-size: 1.3rem;
    }

    #hero .hero-data {
        /* top: 27.4rem; */
    }

    #Explore {
        margin: 9.8rem 0 6rem 0;
    }

    .main-title p {
        font-size: 1.5rem;
    }

    .main-title h2 {
        font-size: 5rem;
        line-height: 6rem;
        padding-bottom: 1.5rem;
    }

    .icon .prev,
    .next {
        width: 4rem;
        height: 4rem;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        padding: 0.8rem;
    }

    .Explore-slider .swiper-wrapper {
        padding: 1rem 0;
    }

    .Explore-slider .Explore-data h3 {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .Explore-slider .Explore-data p {
        font-size: 1.2rem;
    }

    .Explore-slider .Explore-data {
        padding: 2rem 1.9rem 2.5rem 1.4rem;
    }

    .Explore-slider .Explore-data .circle {
        width: 5.3rem;
        height: 5.3rem;
    }

    .Explore-slider .Explore-data .circle span {
        font-size: 5rem;
    }

    .main-title p {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .why-icon .why-prev,
    .why-next {
        width: 4rem;
        height: 4rem;
        font-size: 1.5rem;
    }

    #Why-select .main-title {
        padding: 3rem;
    }

    .why-Swiper .swiper-slide img {
        width: 7.5rem;
    }

    .why-Swiper .swiper-slide h4 {
        font-size: 1.8rem;
        margin: 2rem 0 0 0;
    }

    .why-Swiper .swiper-slide a {
        margin: 2rem 0 2rem 0;
        font-size: 1.7rem;
        line-height: 4rem;
    }

    .why-Swiper .main-title p {
        margin-bottom: 2rem;
    }

    #Why-select {
        background-size: 100% 35rem;
    }

    #partner {
        padding: 9.8rem 0 0 0;
    }

    #partner .main-title p {
        font-size: 1.5rem;
    }

    #partner .pimg img {
        width: 75%;
    }

    #partner .pimg {
        padding: 4rem 7rem 3rem 7rem;
    }

    #client {
        margin: 9.8rem 0 6rem 0rem;
    }

    .client-say h3 {
        font-size: 2rem;
    }

    .client-say h2 {
        font-size: 5rem;
        line-height: 6.5rem;
    }

    .client-say p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .client-profile .client-icone .cli-prev,
    .cli-next {
        font-size: 1.6rem;
        width: 4rem;
        height: 4rem;
        padding: 1rem 1.5rem;
    }

    .client-profile .client-icone .cli-prev {
        margin-right: 8rem;
    }

    .client-profile .swiper-slide .clinet-img img {
        width: 12rem;
        height: 12rem;
    }

    .clinet-slider .swiper-slide h4 {
        font-size: 1.8rem;
        margin: 2rem 0 0rem 0;
    }

    .clinet-slider .swiper-slide .star-icone p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #Subc {
        padding: 3.1rem 0 10rem 0;
    }

    #Subc .main-title h2 {
        font-size: 5rem;
        line-height: 6rem;
    }

    #Subc .main-title p {
        font-size: 1.5rem;
        line-height: 3rem;
        padding-bottom: 3rem;
    }

    #Subc form .email {
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin: 1.5rem 26.5rem 1.5rem 1.5rem;
    }

    #Subc form .Subscribe {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 1rem 1.5rem;
    }

    #Subc .subbot {
        width: 57.2rem;
        height: 5.4rem;
    }

    .footer-data .box img {
        width: 70%;
    }

    .footer-data .box p {
        padding-top: 1rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .footer-data h4 {
        font-size: 1.8rem;
        line-height: 4rem;
    }

    .footer-data .Contact ul a {
        font-size: 1.5rem;
        line-height: 3.5rem;
    }

    .footer-data .Contact ul li i {
        font-size: 1.5rem;
    }

    .footer-data .Follow ul li {
        font-size: 1.7rem;
    }

    .footer-data {
        padding: 8.8rem 0rem 7rem 1.2rem;
    }

    .black {
        padding: 3rem 0 3rem 0;
    }

    .black a {
        font-size: 1.6rem;
    }
}


@media screen and (max-width:992px) {
    .container {
        width: 100%;
    }

    header nav>ul {
        position: absolute;
        top: 0;
        right: -30%;
        width: 30%;
        height: 100vh;
        background-color: rgb(133, 172, 246);
        transition: all 1s;
        z-index: 999;
    }

    #hero .hero-data {
        padding-top: 20rem;
        position: relative;
    }

    header .row nav {
        margin-left: 1rem;
    }

    header nav ul li {
        display: block;

    }

    header .row {
        padding: 1.5rem 0;
        text-align: start;
    }

    header .row nav {
        order: 2;
    }

    .search {
        order: 1;
        margin-left: auto;
    }

    nav>i {
        font-size: 2rem;
        color: white;
    }

    #menu>i {
        font-size: 2rem;
        color: #fff;
        width: 100%;
        text-align: right;
        padding: 2rem;
        display: inline-block !important;
    }

    .row nav>i {
        font-size: 2rem;
        margin: 1rem;
        display: inline-block !important;
    }

    .showHide {
        right: 0;
    }

    header .row nav ul li a {
        width: 100%;
        padding: 2rem;
    }

    header .row nav ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    header .row>a i {
        font-size: 1.6rem;
    }

    .row .logo img {
        width: 95%;
        display: block;
    }

    .hero-data h1 {
        font-size: 5.5rem;
        line-height: 7rem;
    }

    #hero {
        height: auto;
    }

    #hero .hero-data {
        /* top: 29.4rem; */
    }

    .main-title h2 {
        font-size: 4.5rem;
        line-height: 5rem;
        padding-bottom: 1rem;
    }

    #Explore {
        margin: 7.8rem 0 5rem 0;
    }

    .Explore-slider .Explore-data h3 {
        font-size: 1.6rem;
        line-height: 1rem;
    }

    .why-Swiper .swiper-slide img {
        width: 6.5rem;
    }

    .why-Swiper .swiper-slide h4 {
        font-size: 1.7rem;
        margin: 1rem 0 0 0;
    }

    .why-Swiper .swiper-slide p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .why-Swiper .swiper-slide a {
        font-size: 1.6rem;
        line-height: 2.7rem;
        margin-top: 2rem;
    }

    #partner {
        padding: 7.8rem 0 0 0;
    }

    #partner .pimg img {
        width: 70%;
    }

    #partner .pimg {
        padding: 3rem 5rem 2rem 7rem;
    }

    #client {
        margin: 7.8rem 0 5rem 0rem;
    }

    .client-say h3 {
        font-size: 1.9rem;
    }

    .client-say h2 {
        font-size: 4.5rem;
        line-height: 6rem;
    }

    .client-profile .swiper-slide .clinet-img img {
        width: 10rem;
        height: 10rem;
    }

    .clinet-slider .swiper-slide h4 {
        font-size: 1.7rem;
        margin: 1rem 0 0rem 0;
    }

    #Subc .main-title h2 {
        font-size: 4.5rem;
        line-height: 5rem;
    }

    #Subc .main-title p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-bottom: 2rem;
    }

    #Subc .subbot {
        width: 50rem;
        height: 5.5rem;
    }

    #Subc form .email {
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin: 1.5rem 19.3rem 1.5rem 1.5rem;
    }

    #Subc {
        padding: 3.1rem 0 8rem 0;
    }

    .footer-data {
        /* padding: 7.8rem 0rem 5rem 0rem; */
        padding: 5rem 5rem 2rem 2rem;
        flex-wrap: wrap;
    }

    .footer-data .box img {
        width: 60%;
    }

    .footer-data .box p {
        line-height: 2.2rem;
    }

    .footer-data h4 {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .footer-data .Contact ul a {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .footer-data .Contact ul li i {
        font-size: 1.4rem;
    }

    .Quick {
        padding: 2rem 0rem 0rem;
    }

    .footer-data .Quick ul li a {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .Follow {
        padding: 2rem 5rem 0rem;
    }

    .footer-data .Follow ul li i {
        margin-right: 1.5rem;
        font-size: 1.6rem;
    }
}

@media screen and (max-width:767px) {
    .container {
        width: 100%;
    }

    .row .logo img {
        width: 80%;
    }

    header .row>a i {
        font-size: 1.5rem;
    }

    .row nav>i {
        font-size: 1.7rem;
    }

    .hero-data .serch-from {
        width: 30%;
        height: auto;
        flex-wrap: wrap;
        border-radius: 1rem;
    }

    .hero-data .serch-from select {
        margin: 1rem;
    }

    .serch-from .explore {
        margin: 1rem 0;
        padding: 0.3rem 1rem !important;
        font-size: 1.5rem;
    }

    .main-title h2 {
        font-size: 4rem;
        line-height: 4rem;
        padding-bottom: 1rem;
    }

    .client-say h2 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .client-say h3 {
        font-size: 1.7rem;
    }

    #Subc .main-title h2 {
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .clinet-slider .swiper-wrapper {
        padding: 1rem 0 1rem 2rem;
    }

    .client-profile .client-icone .cli-prev {
        margin-right: 33rem;
    }

    .client-profile .client-icone .cli-next {
        right: 15rem;
    }

    .client-profile .client-icone .cli-prev,
    .cli-next {
        top: 2rem;
    }

    #Subc .subbot {
        width: 40%;
        height: auto;
    }

    #Subc form .email {
        text-align: center;
        margin: 1.5rem 10.3rem 1.5rem 1.5rem;
    }

    #Subc form .Subscribe {
        padding: 1rem 1.5rem;
        margin: 0rem 0 1rem 6rem;
    }

    .footer-data .box {
        flex-basis: 50%;
    }

}

@media screen and (max-width:574px) {
    .container {
        width: 100%;
    }

    .row .logo img {
        width: 75%;
    }

    .row nav>i {
        font-size: 1.6rem;
    }

    .hero-data h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    .hero-data p {
        font-size: 1.4rem;
    }

    .main-title h2 {
        font-size: 3.5rem;
    }

    .main-title p {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    #partner .main-title p {
        font-size: 1.4rem;
    }

    .client-say h2 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .client-say p {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    #Subc .main-title h2 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    #partner .pimg {
        padding: 5rem 2rem;
        flex-wrap: wrap;
    }

    #Subc .main-title p {
        font-size: 1.4rem;
        line-height: 2rem;
        padding-bottom: 1rem;
    }

    .client-profile .client-icone .cli-prev {
        margin-right: 22rem;
    }

    #Subc form .email {
        text-align: center;
        margin: 1.5rem 0.3rem 1.5rem 1rem;
        font-size: 1.2rem;
    }

    #Subc form .Subscribe {
        padding: 1rem 1.5rem;
        margin: 0rem 0 1rem 4rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width:574px) {
    .row .logo img {
        width: 60%;
    }

    header .row>a i {
        font-size: 1.2rem;
    }

    .row nav>i {
        font-size: 1.2rem;
    }

    .hero-data h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .hero-data p {
        font-size: 1.3rem;
    }

    .hero-data .serch-from select {
        font-size: 1.3rem;
    }

    .hero-data .serch-from {
        padding: 0;
    }

    .main-title p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    #Explore {
        margin: 6rem 0 4rem 0;
    }

    .icon .prev,
    .next {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        padding: 0.7rem;
    }

    .Explore-slider .swiper-wrapper {
        padding: 2rem 0;
    }

    .why-icon .why-prev,
    .why-next {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.3rem;
        padding: 0.8rem;
        top: -2rem;
    }

    .why-Swiper .swiper-slide img {
        width: 6rem;
    }

    .why-Swiper .swiper-slide h4 {
        font-size: 1.6rem;
    }

    .why-Swiper .swiper-slide p {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .why-Swiper .swiper-slide a {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1.5rem;
    }

    #partner {
        padding: 6rem 0 0 0;
    }

    #partner .main-title p {
        font-size: 1.3rem;
    }

    #partner .pimg {
        padding: 4rem 1rem 2rem 3rem;
    }

    #partner .pimg img {
        width: 60%;
        padding: 1rem 0rem;
    }

    .client-say h3 {
        font-size: 1.6rem;
    }

    .client-say p {
        font-size: 1.3rem;
    }

    .client-profile .client-icone .cli-prev,
    .cli-next {
        font-size: 1.3rem;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.8rem 1.4rem;
    }

    .client-profile .swiper-slide .clinet-img img {
        width: 9rem;
        height: 9rem;
    }

    .clinet-slider .swiper-slide h4 {
        font-size: 1.6rem;
    }

    .clinet-slider .swiper-slide .star-icone p {
        font-size: 1.3rem;
    }

    .clinet-slider .swiper-slide h5 {
        font-size: 1.4rem;
    }

    #Subc .main-title {
        padding-top: 3rem;
    }

    #Subc .main-title p {
        font-size: 1.3rem;
    }

    .serch-from .explore {
        margin: 1rem 0.2rem;
        padding: 0.2rem 1rem !important;
        font-size: 1.1rem;

    }

    #Subc form .Subscribe {
        padding: 0.5rem 1.5rem;
        margin: 0rem 0 1rem 4.5rem;
        font-size: 1.3rem;
    }

    #Subc form .email {
        text-align: center;
        margin: 1.5rem 0.3rem 1.5rem 1rem;
        font-size: 1.3rem;
    }
    #Subc {
        padding: 3.1rem 0 5rem 0;
    }
    .footer-data .box p {
        line-height: 2rem;
        font-size: 1.3rem;
    }
    .footer-data .Contact ul a {
        font-size: 1.3rem;
     
    }
    .footer-data h4 {
        font-size: 1.5rem;
    }
    .footer-data .Contact ul li i {
        font-size: 1.3rem;
    }
    .footer-data .Quick ul li a {
        font-size: 1.3rem;
    }
    .footer-data .Follow ul li i {
        font-size: 1.5rem;
    }
    .black {
        padding: 2rem 0 2rem 0;
    }
    .black a {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:479px) {
    .row .logo img {
        width: 50%;
    }
    .hero-data h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .hero-data p {
        font-size: 1rem;
    }
    .hero-data .serch-from select {
        font-size: 1rem;
    }
    .serch-from .explore {
        margin: 1rem 0.3rem;
        padding: 0.2rem 1rem !important;
        font-size: 1rem;
    }
}